In [19]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pd

In [20]:
df = pd.read_csv('real_estate_properties.csv')
df.head()

,Unnamed: 0,Name,Area,Furnishing,Transaction,Status,Price
0,0,4 BHK Apartment for Sale in Sugam Morya,1850 sqft,Unfurnished,Resale,Ready to Move,₹2.38 Cr
1,1,2 BHK Apartment for Sale in Regent Park Kolkata,525 sqft,Unfurnished,Resale,Ready to Move,₹32 Lac
2,2,2 BHK Apartment for Sale in Parvati Garden,705 sqft,Unfurnished,Resale,Ready to Move,₹32 Lac
3,3,3 BHK Apartment for Sale in Multicon Estelle,1612 sqft,Unfurnished,Resale,Ready to Move,₹2.25 Cr
4,4,2 BHK Apartment for Sale in Golpark Cooperativ...,980 sqft,Semi-Furnished,Resale,Ready to Move,₹50 Lac

In [21]:
df1 = df.drop('Unnamed: 0', axis='columns')
df1.head()

,Name,Area,Furnishing,Transaction,Status,Price
0,4 BHK Apartment for Sale in Sugam Morya,1850 sqft,Unfurnished,Resale,Ready to Move,₹2.38 Cr
1,2 BHK Apartment for Sale in Regent Park Kolkata,525 sqft,Unfurnished,Resale,Ready to Move,₹32 Lac
2,2 BHK Apartment for Sale in Parvati Garden,705 sqft,Unfurnished,Resale,Ready to Move,₹32 Lac
3,3 BHK Apartment for Sale in Multicon Estelle,1612 sqft,Unfurnished,Resale,Ready to Move,₹2.25 Cr
4,2 BHK Apartment for Sale in Golpark Cooperativ...,980 sqft,Semi-Furnished,Resale,Ready to Move,₹50 Lac

In [22]:
df1.shape

(3000, 6)

In [23]:
df1.isnull().sum()

Name             0
Area             0
Furnishing     377
Transaction    100
Status           0
Price            0
dtype: int64

In [24]:
df1['Transaction'].unique()

array(['Resale', nan], dtype=object)

In [25]:
df1['Status'].unique()

array(['Ready to Move'], dtype=object)

In [26]:
df1['Furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', 'Furnished', nan], dtype=object)

In [27]:
most_frequent_furnishing = df1['Furnishing'].value_counts().index[0]
most_frequent_furnishing

'Unfurnished'

In [28]:
df2 = df1.drop(['Transaction', 'Status'], axis='columns')
df2['Furnishing'] = df2['Furnishing'].fillna(most_frequent_furnishing)
df2.head()

,Name,Area,Furnishing,Price
0,4 BHK Apartment for Sale in Sugam Morya,1850 sqft,Unfurnished,₹2.38 Cr
1,2 BHK Apartment for Sale in Regent Park Kolkata,525 sqft,Unfurnished,₹32 Lac
2,2 BHK Apartment for Sale in Parvati Garden,705 sqft,Unfurnished,₹32 Lac
3,3 BHK Apartment for Sale in Multicon Estelle,1612 sqft,Unfurnished,₹2.25 Cr
4,2 BHK Apartment for Sale in Golpark Cooperativ...,980 sqft,Semi-Furnished,₹50 Lac

In [29]:
df2.isnull().sum()

Name          0
Area          0
Furnishing    0
Price         0
dtype: int64

In [30]:
df2['Area'].unique()

array(['1850 sqft', '525 sqft', '705 sqft', '1612 sqft', '980 sqft',
       '850 sqft', '268 sqft', '580 sqft', '1241 sqft', '1836 sqft',
       '1140 sqft', '750 sqft', '652 sqft', '820 sqft', '1000 sqft',
       '720 sqft', '1817 sqft', '1100 sqft', '4400 sqft', '2142 sqft',
       '853 sqft', '1675 sqft', '386 sqft', '1120 sqft', '272 sqft',
       '1800 sqft', '928 sqft', '985 sqft'], dtype=object)

In [31]:
df3 = df2.copy()
df3['Area'] = df2['Area'].map(lambda x: int(x.split()[0]))
df3.head()

,Name,Area,Furnishing,Price
0,4 BHK Apartment for Sale in Sugam Morya,1850,Unfurnished,₹2.38 Cr
1,2 BHK Apartment for Sale in Regent Park Kolkata,525,Unfurnished,₹32 Lac
2,2 BHK Apartment for Sale in Parvati Garden,705,Unfurnished,₹32 Lac
3,3 BHK Apartment for Sale in Multicon Estelle,1612,Unfurnished,₹2.25 Cr
4,2 BHK Apartment for Sale in Golpark Cooperativ...,980,Semi-Furnished,₹50 Lac

In [32]:
df3['Location'] = df3['Name'].map(lambda x:x.split(' for Sale in ')[1])
df3['type'] = df3['Name'].map(lambda x:x.split(' for Sale in ')[0])
df3.head()

,Name,Area,Furnishing,Price,Location,type
0,4 BHK Apartment for Sale in Sugam Morya,1850,Unfurnished,₹2.38 Cr,Sugam Morya,4 BHK Apartment
1,2 BHK Apartment for Sale in Regent Park Kolkata,525,Unfurnished,₹32 Lac,Regent Park Kolkata,2 BHK Apartment
2,2 BHK Apartment for Sale in Parvati Garden,705,Unfurnished,₹32 Lac,Parvati Garden,2 BHK Apartment
3,3 BHK Apartment for Sale in Multicon Estelle,1612,Unfurnished,₹2.25 Cr,Multicon Estelle,3 BHK Apartment
4,2 BHK Apartment for Sale in Golpark Cooperativ...,980,Semi-Furnished,₹50 Lac,Golpark Cooperative Housing Society,2 BHK Apartment

In [33]:
df3['Location'].unique()

array(['Sugam Morya', 'Regent Park Kolkata', 'Parvati Garden',
       'Multicon Estelle', 'Golpark Cooperative Housing Society',
       'Shyam Vihar Phase 2', 'Ballygunge Kolkata', 'Vip Road Kolkata',
       'Urban Heights', 'Thakurpukur Kolkata', 'Rajarhat Kolkata',
       'Batanagar Kolkata', 'Buroshibtalla', 'Parnasree Palli Kolkata',
       'Baguiati Kolkata', 'Behala Kolkata', 'Behala Chowrasta Kolkata',
       'Haridevpur', 'Motilal Gupta Road Kolkata', 'Bangur Avenue',
       'Golf Towers', 'Kankurgachi Kolkata', 'Meena Florence',
       'Greenfield City Classic Premium', 'Classic Tower',
       'Mukundapur Kolkata', 'Koyla Vihar Vasundhara',
       'Lake Town Kolkata', 'Shyam Vihar'], dtype=object)

In [34]:
df3['type'].value_counts()

type
3 BHK Apartment        1023
2 BHK Apartment         900
3 BHK House             200
Shop                    177
4 BHK Apartment         100
Office Space            100
2 BHK Builder Floor     100
6 BHK House             100
5 BHK House             100
Showroom                100
1 BHK Apartment         100
Name: count, dtype: int64

In [35]:
df4 = df3[~(df3['type']=='Office Space') & ~(df3['type']=='Shop') & ~(df3['type']=='Showroom')]
df4.shape

(2623, 6)

In [36]:
df4['type'].value_counts()

type
3 BHK Apartment        1023
2 BHK Apartment         900
3 BHK House             200
4 BHK Apartment         100
2 BHK Builder Floor     100
6 BHK House             100
5 BHK House             100
1 BHK Apartment         100
Name: count, dtype: int64

In [59]:
df4['BHK'] = df4['type'].map(lambda x:int(x.split()[0]))
df4['Type'] = df4['type'].map(lambda x:x.split(' BHK ')[-1])
df4.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15576\1632653189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['BHK'] = df4['type'].map(lambda x:int(x.split()[0]))
C:\Users\User\AppData\Local\Temp\ipykernel_15576\1632653189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Type'] = df4['type'].map(lambda x:x.split(' BHK ')[-1])

,Name,Area,Furnishing,Price,Location,type,BHK,Type
0,4 BHK Apartment for Sale in Sugam Morya,1850,Unfurnished,₹2.38 Cr,Sugam Morya,4 BHK Apartment,4,Apartment
1,2 BHK Apartment for Sale in Regent Park Kolkata,525,Unfurnished,₹32 Lac,Regent Park Kolkata,2 BHK Apartment,2,Apartment
2,2 BHK Apartment for Sale in Parvati Garden,705,Unfurnished,₹32 Lac,Parvati Garden,2 BHK Apartment,2,Apartment
3,3 BHK Apartment for Sale in Multicon Estelle,1612,Unfurnished,₹2.25 Cr,Multicon Estelle,3 BHK Apartment,3,Apartment
4,2 BHK Apartment for Sale in Golpark Cooperativ...,980,Semi-Furnished,₹50 Lac,Golpark Cooperative Housing Society,2 BHK Apartment,2,Apartment

In [60]:
df5 = df4.drop(['Name', 'type'], axis='columns')
df5.head()

,Area,Furnishing,Price,Location,BHK,Type
0,1850,Unfurnished,₹2.38 Cr,Sugam Morya,4,Apartment
1,525,Unfurnished,₹32 Lac,Regent Park Kolkata,2,Apartment
2,705,Unfurnished,₹32 Lac,Parvati Garden,2,Apartment
3,1612,Unfurnished,₹2.25 Cr,Multicon Estelle,3,Apartment
4,980,Semi-Furnished,₹50 Lac,Golpark Cooperative Housing Society,2,Apartment

In [61]:
df5['Price'].unique()

array(['₹2.38 Cr', '₹32 Lac', '₹2.25 Cr', '₹50 Lac', '₹38 Lac',
       '₹1.25 Cr', '₹85 Lac', '₹1.60 Cr', '₹35 Lac', '₹59 Lac', '₹51 Lac',
       '₹60 Lac', '₹42 Lac', '₹75 Lac', '₹84 Lac', '₹30 Lac', '₹2.80 Cr',
       '₹1.45 Cr', '₹1.50 Cr', '₹15 Lac', '₹1.35 Cr', '₹67 Lac'],
      dtype=object)

In [62]:
def clean_price(price):
    p, mult = price.split()
    p = float(p[1:])
    if mult=='Cr':
        return p*100
    else:
        return p

In [63]:
price = df5['Price'].map(clean_price)

In [64]:
df5['Price'] = price
df5.head()

,Area,Furnishing,Price,Location,BHK,Type
0,1850,Unfurnished,238.0,Sugam Morya,4,Apartment
1,525,Unfurnished,32.0,Regent Park Kolkata,2,Apartment
2,705,Unfurnished,32.0,Parvati Garden,2,Apartment
3,1612,Unfurnished,225.0,Multicon Estelle,3,Apartment
4,980,Semi-Furnished,50.0,Golpark Cooperative Housing Society,2,Apartment

In [65]:
df5.dtypes

Area            int64
Furnishing     object
Price         float64
Location       object
BHK             int64
Type           object
dtype: object

In [66]:
df6 = df5.copy()

In [67]:
df6['Furnishing'].unique()

array(['Unfurnished', 'Semi-Furnished', 'Furnished'], dtype=object)

In [68]:
def encode_furnishing(f):
    furnishing = ['Unfurnished', 'Semi-Furnished', 'Furnished']
    return furnishing.index(f)

In [69]:
df6['Furnishing'] = df6['Furnishing'].map(encode_furnishing)
df6.head()

,Area,Furnishing,Price,Location,BHK,Type
0,1850,0,238.0,Sugam Morya,4,Apartment
1,525,0,32.0,Regent Park Kolkata,2,Apartment
2,705,0,32.0,Parvati Garden,2,Apartment
3,1612,0,225.0,Multicon Estelle,3,Apartment
4,980,1,50.0,Golpark Cooperative Housing Society,2,Apartment

In [70]:
df6['Type'].unique()

array(['Apartment', 'House', 'Builder Floor'], dtype=object)

In [72]:
df6['Location'].value_counts()

Location
Batanagar Kolkata                      200
Sugam Morya                            100
Behala Chowrasta Kolkata               100
Lake Town Kolkata                      100
Koyla Vihar Vasundhara                 100
Mukundapur Kolkata                     100
Classic Tower                          100
Greenfield City Classic Premium        100
Golf Towers                            100
Ballygunge Kolkata                     100
Bangur Avenue                          100
Motilal Gupta Road Kolkata             100
Haridevpur                             100
Behala Kolkata                         100
Regent Park Kolkata                    100
Baguiati Kolkata                       100
Parnasree Palli Kolkata                100
Buroshibtalla                          100
Rajarhat Kolkata                       100
Thakurpukur Kolkata                    100
Urban Heights                          100
Shyam Vihar Phase 2                    100
Golpark Cooperative Housing Society    100
Multicon Estelle                       100
Parvati Garden                         100
Shyam Vihar                             23
Name: count, dtype: int64

In [82]:
from sklearn.preprocessing import OneHotEncoder

cols = ['Location', 'Type']

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(df6[cols]))

OH_cols.index = df6.index

OH_cols.columns = OH_encoder.get_feature_names_out(cols)
OH_cols.head()

,Location_Baguiati Kolkata,Location_Ballygunge Kolkata,Location_Bangur Avenue,Location_Batanagar Kolkata,Location_Behala Chowrasta Kolkata,Location_Behala Kolkata,Location_Buroshibtalla,Location_Classic Tower,Location_Golf Towers,Location_Golpark Cooperative Housing Society,...,Location_Rajarhat Kolkata,Location_Regent Park Kolkata,Location_Shyam Vihar,Location_Shyam Vihar Phase 2,Location_Sugam Morya,Location_Thakurpukur Kolkata,Location_Urban Heights,Type_Apartment,Type_Builder Floor,Type_House
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [84]:
df7 = df6.drop(['Location', 'Type'], axis='columns')
df7.head()

   Area  Furnishing  Price  BHK
0  1850           0  238.0    4
1   525           0   32.0    2
2   705           0   32.0    2
3  1612           0  225.0    3
4   980           1   50.0    2

In [85]:
housing_data = pd.concat([df7,OH_cols], axis='columns')
housing_data.head()

,Area,Furnishing,Price,BHK,Location_Baguiati Kolkata,Location_Ballygunge Kolkata,Location_Bangur Avenue,Location_Batanagar Kolkata,Location_Behala Chowrasta Kolkata,Location_Behala Kolkata,...,Location_Rajarhat Kolkata,Location_Regent Park Kolkata,Location_Shyam Vihar,Location_Shyam Vihar Phase 2,Location_Sugam Morya,Location_Thakurpukur Kolkata,Location_Urban Heights,Type_Apartment,Type_Builder Floor,Type_House
0,1850,0,238.0,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,525,0,32.0,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,705,0,32.0,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1612,0,225.0,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,980,1,50.0,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [86]:
housing_data.columns = housing_data.columns.astype(str)
housing_data.columns

Index(['Area', 'Furnishing', 'Price', 'BHK', 'Location_Baguiati Kolkata',
       'Location_Ballygunge Kolkata', 'Location_Bangur Avenue',
       'Location_Batanagar Kolkata', 'Location_Behala Chowrasta Kolkata',
       'Location_Behala Kolkata', 'Location_Buroshibtalla',
       'Location_Classic Tower', 'Location_Golf Towers',
       'Location_Golpark Cooperative Housing Society',
       'Location_Greenfield City Classic Premium', 'Location_Haridevpur',
       'Location_Koyla Vihar Vasundhara', 'Location_Lake Town Kolkata',
       'Location_Motilal Gupta Road Kolkata', 'Location_Mukundapur Kolkata',
       'Location_Multicon Estelle', 'Location_Parnasree Palli Kolkata',
       'Location_Parvati Garden', 'Location_Rajarhat Kolkata',
       'Location_Regent Park Kolkata', 'Location_Shyam Vihar',
       'Location_Shyam Vihar Phase 2', 'Location_Sugam Morya',
       'Location_Thakurpukur Kolkata', 'Location_Urban Heights',
       'Type_Apartment', 'Type_Builder Floor', 'Type_House'],
      dtype='object')

In [88]:
X = housing_data.drop('Price', axis='columns')
y = housing_data.Price

In [93]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=7)

model1 = LinearRegression()
model1.fit(X_train, y_train)
model1.score(X_test, y_test)

1.0

In [95]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(), X, y, cv=cv)

array([1., 1., 1., 1., 1.])

In [106]:
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

algos = {
    "linear_regression":{
        'model':LinearRegression(),
        'params':{
            'positive':[True, False]
        }
    },
    "lasso":{
        'model':Lasso(),
        'params':{
            'alpha':[1,2],
            'selection':['cyclic','random']
        }
    },
    "decision_tree":{
        'model':DecisionTreeRegressor(),
        'params':{
            'criterion':['squared_error', 'friedman_mse'],
            'splitter':['best','random']
        }
    },
    "random_forest":{
        'model':RandomForestRegressor(),
        'params':{
            'n_estimators':[100,150,200],
            'criterion':['squared_error', 'friedman_mse']
        }
    }
}

In [107]:
from sklearn.model_selection import GridSearchCV
scores=[]
for algo,config in algos.items():
    gs=GridSearchCV(estimator=config['model'],param_grid=config['params'], cv=cv)
    gs.fit(X,y)
    scores.append({
        'model':algo,
        'best score':gs.best_score_,
        'best params':gs.best_params_
    })
pd.DataFrame(scores,columns=['model','best score', 'best params'])

c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
5 fits failed out of a total of 10.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_base.py", line 642, in fit
    self.coef_ = optimize.nnls(X, y)[0]
                 ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\scipy\optimize\_nnls.py", line 93, in nnls
    raise RuntimeError("Maximum number of iterations reached.")
RuntimeError: Maximum number of iterations reached.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_search.py:1052: UserWarning: One or more of the test scores are non-finite: [nan  1.]
  warnings.warn(

,model,best score,best params
0,linear_regression,1.000000,{'positive': False}
1,lasso,0.934471,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,1.000000,"{'criterion': 'squared_error', 'splitter': 'be..."
3,random_forest,1.000000,"{'criterion': 'squared_error', 'n_estimators':..."

In [109]:
import pickle
with open('model.pickle','wb') as p:
    pickle.dump(model1, p)

In [115]:
with open('model.pickle','rb') as p:
    m = pickle.load(p)

X_data = housing_data.drop('Price',axis='columns').iloc[2].to_list()
m.predict([X_data])

c:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([32.])

In [118]:
columns = [c.lower() for c in X.columns.tolist()]
columns

['area',
 'furnishing',
 'bhk',
 'location_baguiati kolkata',
 'location_ballygunge kolkata',
 'location_bangur avenue',
 'location_batanagar kolkata',
 'location_behala chowrasta kolkata',
 'location_behala kolkata',
 'location_buroshibtalla',
 'location_classic tower',
 'location_golf towers',
 'location_golpark cooperative housing society',
 'location_greenfield city classic premium',
 'location_haridevpur',
 'location_koyla vihar vasundhara',
 'location_lake town kolkata',
 'location_motilal gupta road kolkata',
 'location_mukundapur kolkata',
 'location_multicon estelle',
 'location_parnasree palli kolkata',
 'location_parvati garden',
 'location_rajarhat kolkata',
 'location_regent park kolkata',
 'location_shyam vihar',
 'location_shyam vihar phase 2',
 'location_sugam morya',
 'location_thakurpukur kolkata',
 'location_urban heights',
 'type_apartment',
 'type_builder floor',
 'type_house']

In [121]:
import json
with open('columns.json', 'w') as f:
    json.dump({"columns":columns}, f)